<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SupaManager</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="//unpkg.com/alpinejs" defer></script>
</head>
<body>
    <p class="font-semibold text-xl">SupaManager, a project by Harry Bairstow;</p>
    <p>Manage self-hosted Supabase instances with an easy to use API & Web Portal (soon)</p>
</body>
</html>