<!DOCTYPE html>
<html lang="en" class="w-full h-full">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SupaManager</title>
    <script src="https://cdn.tailwindcss.com?plugins=forms"></script>
    <script src="//unpkg.com/alpinejs" defer></script>
</head>
<body class="bg-gray-50 w-full h-full">
    <div class="h-full flex flex-col justify-center items-center space-y-4">
        <h1 class="text-2xl">SupaManager</h1>
        <div class="w-1/4 px-6 py-4 bg-white border-2 border-gray-200 rounded-md">
            <!-- TODO, make form work -->
            <form class="flex flex-col justify-center items-center space-y-2">
                <div class="w-full">
                    <label for="password" class="sr-only">Password</label>
                    <input type="password" name="password" id="password" class="shadow-sm focus:ring-blue-500 focus:border-blue-500 block w-full sm:text-sm border-gray-300 rounded-md" placeholder="Password">
                </div>
                <input type="submit" class="w-full bg-blue-500 px-4 py-2 text-white font-semibold rounded-md shadow-sm cursor-pointer hover:bg-blue-600" />
            </form>
        </div>
        <div class="flex flex-col justify-center items-center text-sm text-gray-400">
            <p>© {{year}}, <a href="https://twitter.com/HarryET" class="font-semibold hover:underline">Harry Bairstow</a></p>
            <p>Version <a href="https://github.com/HarryET/supa-manager/releases/tag/v{{version}}" class="font-semibold hover:underline">{{version}}</a></p>
        </div>
    </div>
</body>
</html>